<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
    <title>Error</title>
</head>
<style>
</style>
<body>
<div class="container-fluid">
    <div class="bg-black m-0 p-0 px-4" style="height: 100vh">
        <h1 class="text-warning display-1">Oh no...</h1>
        <h2 class="display-4">Something went wrong on our side.</h2>
        <h2 class="display-4">Error message is: [[ ${errorMsg} ]]</h2>
    </div>
</div>

</body>
</html>