<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
    <script src="/js/main.js"></script>
</head>
<body onload="startIndex()">
<header>
    <div class="container">
        <h1 class="brand">Hotel Id Prescription</h1>
        <div class="wrapper">
            <div class="company-info">
                <h3>Hotel <span>Id Prescription</span></h3>
                <ul>
                    <li>1. Open the google lens</li>
                    <li>2. Scan the code from your phone</li>
                    <li>3. Point your phone to this screen to capture the code</li>
                </ul>
            </div>
            <div class="contact">
                <div id="qrcode"></div>
            </div>
        </div>
    </div>
</header>
</body>
