<!doctype html>
<html lang="cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/mobile.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/js/main.js"></script>
    <title>Naskenuj</title>
</head>
<style>
    body {
        background-color: #e7f3ff;
    }

    .mobile {
        color: black;
        bottom: 16%;
        position: fixed;
    }
</style>
<body onload="initializeAndSubscripeWebSocketOnMobile()">
<div class="container text-center mobile">
    <h4 id="generatedCode">[[${generatedCode}]]</h4>
    <img src="" height="200" alt="Image preview...">
    <button onclick="generateBase64fromImage()">Send picture</button>
    <div class="image-upload">
        <label for="handWriting">
            <img alt="scan image" width="200px" src="/img/photo-camera.png"/>
        </label>
        <input id="handWriting" onchange="previewFile()" type="file" accept="image/*" capture="camera">
    </div>
    <h1 class="display-4">NASKENUJ</h1>
</div>
</body>
</html>