<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>

<div class="container">

    <div id="title" class="row m-0">
        <form action="/" th:action="@{/}">
            <button id="return" type="submit" class="btn btn-danger my-2 mr-4">Return</button>
        </form>
        <h1>Generated code: [[${code}]]</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button onclick="connect()" class="btn btn-default">Connect</button>

            <form class="form-inline">

                <div class="form-group">
                    <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect
                    </button>
                    <button id="load" type="submit" class="btn btn-primary">Load</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="name">What is your name?</label>
                    <input type="text" id="name" class="form-control" placeholder="Your name here...">
                    <button onclick="sendName()" class="btn btn-default">Send</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Greetings</th>
                    <th>ID</th>
                    <th>Code</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody id="greetings">
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <p>Access the camera and scan the prescription
            <input id="handWriting" onchange="previewFile()" type="file" accept="image/*" capture="camera" />
            <img src="" height="200" alt="Image preview...">
            <button onclick="generateBase64fromImage()">Send picture</button>
    </div>

    <script>
        var base64;
        function generateBase64fromImage() {
            base64 = base64.substring(base64.indexOf("4")+2, base64.length);
            console.log("base64 after cut: " + base64);
                $.ajax({
                    url: '/prescription/add',
                    type: 'POST',
                    data: JSON.stringify({'imageBase64': base64}),
                    contentType: 'application/json',
                    success: function (response) {
                        $("p").append(response);
                    },
                    error: function (request, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
        }
        function previewFile() {
            const preview = document.querySelector('img');
            const file = document.querySelector('input[type=file]').files[0];
            const reader = new FileReader();

            reader.addEventListener("load", function () {
                // convert image file to base64 string
                preview.src = reader.result;
                base64 = preview.src;
                console.log("preview.src: " + preview.src);
                console.log("base64: " + base64);
            }, false);

            if (file) {
                console.log("file: " + reader.readAsDataURL(file));
                reader.readAsDataURL(file);
            }
        }
    </script>

</div>
</body>